* {
    font-family: Roboto, sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
}

.right {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}

/* HEADER SECTION */
header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;

}

header, .hero-section, footer {
    background-color: #1F2937;
}

.nav-bar {
    gap: 12px;
}

/* HERO SECTION */

.hero-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
    padding-left: 12px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtxt {
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.7;
}

.hero-img {
    width: 500px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left {
    padding-left: 50px;
    padding-right: 30px;
    max-width: 375px;
    text-align: left;
}

.hero-right {
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
}

.hero-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 8px 16px;
    border: 1px solid #3882F6;
}

/* IMAGE INFO SECTION */

.info-section {
    padding-bottom: 50px;
}


.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-bottom: 15px;
}

.info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}


.info-container img {
    width: 115px;
    height: 115px;
    border: 3px solid none;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}


.info-subtxt {
    width: 12em;
    opacity: 0.7;
}

/* QUOTE SECTION */
.quote-section {
    background-color: #E5E7EB;
    text-align: center;
}

.quote-container {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.quotee {
    font-weight: 700;
    color: #1F2937;
}

/* signup section */

.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 30px 300px;
    margin-bottom: 25px;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 20px 5px;
    width: 100%;
    border-radius: 8px;
}

.signup-container>.left {
    display: flex;
    flex-direction: column;
}

.signup-title, .signup-subtext {
    color: #F9FAF8;
}


.signup-btn {
    border: 2px solid #F9FAF8;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 2em;
}